@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:ital,wght@0,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  article:nth-child(1) {
    background-image: url("../images/bg-curvy-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 40%;
    background-position: bottom center;
  }

  article:nth-child(4) section {
    box-shadow: 10px 10px 5px rgba(28, 36, 49, 0.66);
  }
}
